<% provide(:title, "Home") %>
<% content_for :body do %>
  <h1>Welcome home</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus est ex ipsam maiores molestias perferendis placeat praesentium, qui rem repellendus soluta. Aperiam architecto blanditiis, est, expedita incidunt ipsum officia optio quaerat quibusdam quos rerum sint vitae voluptatum. Accusamus aliquam aliquid aperiam assumenda, at debitis distinctio dolore enim est ipsa natus necessitatibus nihil nobis nostrum odio officiis omnis optio possimus quaerat quas quidem reprehenderit tempora tenetur ullam voluptatem. Alias asperiores aspernatur, aut dolore, eligendi eos eum facilis id iusto laboriosam laborum laudantium minus natus nihil nobis numquam odio odit quae quibusdam quo ratione rem sapiente sequi tempora temporibus ullam voluptates!</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
  </p>
<% end %>
